@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.


<h2>This is a demo for <a href="https://github.com/ctrl-alt-d/BlazorConfirm">BlazorConfirm</a></h2>

<h3>A Blazor wrapper of Window.confirm() as .Net Blazor Component.</h3>

<h4>Instructions: Go <a href="counter">Counter</a> and play.</h4>

<SurveyPrompt Title="How is Blazor working for you?" />
