@page "/"

<div class="jumbotron">
  <h1 class="display-4"><a href="https://github.com/ctrl-alt-d/BlazorConfirm">BlazorConfirm</a></h1>
  <br/>
  <p class="lead">This is a demo for <a href="https://github.com/ctrl-alt-d/BlazorConfirm">BlazorConfirm</a></p>
  <hr class="my-4">
  <br/>
  <h4>A Blazor wrapper of <span class="badge badge-secondary">Window.confirm()</span> and 
      <span class="badge badge-secondary">onbeforeunload</span> confirmation as .Net Blazor Component.</h4>
  <br/>
  <br/>
  <p class="lead">
    Do you want to test it? Go <a href="counter">Counter</a> and play.
  </p>
</div>


<SurveyPrompt Title="How is Blazor working for you?" />
